[user]
	email = creestl.main@yandex.ru
	name = CREESTL
[cola]
	spellcheck = false
[alias]
    tree = log --all --decorate --graph
    last = tree -1 HEAD
    # See diff in main prokect and in all submodules at the same time
	sdiff = !git diff && git submodule foreach 'git diff'
    # Update all submodules
    supdate = submodule update --remote --merge


[core]
	editor = vim

# Enforce using SSH instead of HTTP every time
# (uncomment when needed)
#[url "ssh://git@github.com/"]
  #insteadOf = https://github.com/
#[url "ssh://git@gitlab.com/"]
  #insteadOf = https://gitlab.com/
#[url "ssh://git@bitbucket.org/"]
  #insteadOf = https://bitbucket.org/

[status]
	submodulessummary = 1
[diff]
	submodule = log
[submodule]
	recurse = true
[push]
	recurseSubmodules = on-demand
[pager]
	branch = false
